{
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      { "singleQuote": true, "printWidth": 100, "arrowParens": "avoid" }
    ],
    "arrow-parens": ["warn", "as-needed"]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "babel-eslint"
}
